header img {
  width: 95%;
  margin-bottom: 18px;
  border-radius: 3px;
  box-shadow: 0 6px 5px #00000021;
}

.card-header h4 {
  font-size: 16px;
    line-height: 28px;
    color: #6777ef;
    margin-bottom: 0;
    margin-top: 0;
}

body {
  margin: 0;
  color: #f4f6f9;
  background-color: #f4f6f9;
}

.container {
line-height: 1.5;
text-align: left;
font-size: 14px;
font-weight: 400;
font-family: "Nunito", "Segoe UI", arial;
color: #6c757d;
box-sizing: border-box;
width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
margin-top: 3rem!important;
text-align: center;
}

.card {
  line-height: 1.5;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  font-family: "Nunito", "Segoe UI", arial;
  color: #6c757d;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-clip: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
  background-color: #fff;
  border-radius: 3px;
  border: none;
  position: relative;
  padding: .55rem 1.5rem;
  margin-top: 30px;
  border-left: 4px solid #6777ef;
}

.card-header {
text-align: left;
font-size: 14px;
font-weight: 400;
font-family: "Nunito", "Segoe UI", arial;
color: #6c757d;
box-sizing: border-box;
margin-bottom: 0;
border-bottom: 1px solid rgba(0,0,0,.125);
border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
background-color: transparent;
border-bottom-color: #f9f9f9;
line-height: 30px;
align-self: center;
width: 100%;
min-height: 70px;
padding: 15px 0;
display: flex;
align-items: center;
height: auto;
flex-wrap: wrap;
}

.btn-submit {
box-sizing: border-box;
margin: 20px 0;
text-transform: none;
text-align: center;
white-space: nowrap;
user-select: none;
border: 1px solid transparent;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
color: #fff;
border-radius: .9rem;
display: block;
width: 100%;
font-weight: 600;
line-height: 24px;
letter-spacing: .5px;
box-shadow: 0 2px 6px #acb5f6;
background-color: #6777ef;
border-color: #6777ef;
padding: .55rem 1.5rem;
font-size: 16px;
cursor: pointer;

}

textarea {
  box-sizing: border-box;
  width: 100%;
  resize: none;
}

